<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - httpswww.codepile.netpile8DvrLEDGtypeMVC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />



</head>
<body>

    @* 7.2.2022. I add the Conesult image with help of this webpage: https://responsivehtmlemail.com/responsive-html-email-template/
                <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td style="padding: 10px; text-align: center;">
                            <a href=”#”><img src="C:\Users\symph\source\repos\httpswww.codepile.netpile8DvrLEDGtypeMVC\httpswww.codepile.netpile8DvrLEDGtypeMVC\Conesult icon 40% oppacity.png" width="180" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        Pgn file doesn't show up so I try jpg file instead:  <a href=”#”><img src="C:\Users\symph\source\repos\httpswww.codepile.netpile8DvrLEDGtypeMVC\httpswww.codepile.netpile8DvrLEDGtypeMVC\Conesult icon 40% oppacity.jpg" width="180" alt="" /></a>
        It doesn't help so I check this website for help: https://sebhastian.com/html-image-not-showing/
        I change from:<td style="padding: 10px; text-align: center;">
                            <a href=”#”><img src="C:\Users\symph\source\repos\httpswww.codepile.netpile8DvrLEDGtypeMVC\httpswww.codepile.netpile8DvrLEDGtypeMVC\Conesult icon 40% oppacity.jpg" width="180" alt="" /></a>
                        </td>
        to: <td style="padding: 10px; text-align: center;">
                            <a href=”#”><img src="Conesult icon 40% oppacity.jpg" width="180" alt="" /></a>
                        </td>
        the picture still doesn't show I commit and push with message:
        "Trying to fix with the logo
        not showing issue with https://responsivehtmlemail.com/responsive-html-email-template/ 7.2.2022. "
    *@

    @* The color of button is green, nothing of text shows so i change button color to gray:
        *@

    <table width="100%">
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td style="padding: 10px; text-align: center;">
                            <a href=”#”><img src="Conesult icon 40% oppacity.jpg" width="180" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <header>

        @*15.9.2021. I add Conesult logo to every page by adding this to _Layout.cshtml file:
            <img id="img_logo" alt="Logo" src="@Url.Content("~/Conesult icon 40% oppacity.svg")" />
            Logo looks like this: "Empty picture" followed by text: Logo
                I try to fix problem by doing exactly like website
                https://stackoverflow.com/questions/10632544/mvc-3-layout-cshtml-add-a-logo-to-the-site
                which means saving logo not as svg file as I had done before, but as a png file:
                Conesult icon 40% oppacity.png
        *@


        @*<img id="img_logo" alt="Logo" src="@Url.Content("~/Conesult icon 40% oppacity.svg")" />*@

        @*<img id="img_logo" alt="Logo" src="@Url.Content("~/Conesult icon 40% oppacity.png")" />*@

        @*15.9.2021. It doesn't help so I use website https://docs.microsoft.com/en-us/aspnet/web-pages/overview/ui-layouts-and-themes/9-working-with-images
                        as help and change to:
                                <img id="img_logo" alt="Logo" src="Conesult icon 40% oppacity.png" />
            '*@

        @* 1.2.2022. There is a lot of not showing Conesult logo images
                 "appearing from nowhere" because they are not in Index.cshtml, but in _Layout.cshtml file.
                 I fix this issue by changing in _Layout.cshtml from: <img id="img_logo" alt="Logo"
            src="Conesult icon 40% oppacity.png" />
            to:         <img id="img_logo" alt="Logo"
            src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1636320648841x422698385398056600%2F1%25281%2529.png?w=64&amp;h=64&amp;auto=compress&amp;fit=crop&amp;dpr=1.5" />

        *@


        @*<img id="img_logo" alt="Logo" src="Conesult icon 40% oppacity.png" />*@

        <img id="img_logo" alt="Logo" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1636320648841x422698385398056600%2F1%25281%2529.png?w=64&amp;h=64&amp;auto=compress&amp;fit=crop&amp;dpr=1.5" />


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">httpswww.codepile.netpile8DvrLEDGtypeMVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*1.2.2022. I follow the instruction "Could we add social media icons at footer..."
                                with the help of this website: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
                                like this, from: <head>
                            <meta charset="utf-8" />
                            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                            <title>@ViewData["Title"] - httpswww.codepile.netpile8DvrLEDGtypeMVC</title>
                            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
                            <link rel="stylesheet" href="~/css/site.css" />
                        </head>
                        to: <head>
                    <meta charset="utf-8" />
                    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                    <title>@ViewData["Title"] - httpswww.codepile.netpile8DvrLEDGtypeMVC</title>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
                    <link rel="stylesheet" href="~/css/site.css" />
                </head>
                and from: <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2021 - httpswww.codepile.netpile8DvrLEDGtypeMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
            to: <footer class="border-top footer text-muted">
            <div class="container">
                <a href="https://www.linkedin.com/company/conesult" class="fa fa-linkedin"></a>
                <a href="https://www.facebook.com/conesult" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/conesult_" class="fa fa-instagram"></a>
                &copy; 2021 - httpswww.codepile.netpile8DvrLEDGtypeMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        I commit and push with message "Add Conesult logo src and social media
        buttons to _Layout.cshtml 1.2.2022."
    *@


    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://www.linkedin.com/company/conesult" class="fa fa-linkedin"></a>
            <a href="https://www.facebook.com/conesult" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/conesult_" class="fa fa-instagram"></a>
            &copy; 2021 - httpswww.codepile.netpile8DvrLEDGtypeMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
